@media (max-width: 991.98px) {
  .section-hero__des.des-1 {
    display: none;
  }
  .section-hero__des.des-2 {
    display: none;
  }
  .section-hero__btn-full-bio {
    display: none;
  }
  .section-hero__start-video {
    left: 30px;
    bottom: 50px;
  }
  .section-films__slider-wrapper {
    min-height: 150px;
  }
  .section-films .row {
    justify-content: center;
  }
  .section-moreinfo2__img-wrap {
    padding-top: 30px;
  }
  .section-moreinfo2 {
    padding: 40px 0 40px 0;
  }
  .section-coach__side-img {
    padding-top: 50px;
  }
  .section-coach__middle-line {
    border-left: 1px solid #979797;
    width: 1%;
  }

  .section-coach__controls {
    bottom: 0px;
  }
  .section-banner__text-wrap h1 {
    font-size: 50px;
    color: var(--tertiary-text-color);
  }
  .section-tvshow__topcard {
    width: 30%;
  }
  .section-tvshow__bottom-card {
    width: 100%;
  }
  .sup-herosection {
    padding-top: 80px;
  }
  .navbar.transparent {
    background-color: black !important;
  }
  .coldsober-graycolor-section .des {
    font-size: 16px;
  }
  .section-coachinghero .hero-title {
    top: 100px;
  }
  .section-coachinghero .hero-des {
    position: absolute;
    top: 300px;
    width: fit-content;
  }
  .section-coachinghero .hero-title h1 {
    font-size: 48px;
  }
  .section-coachinghero {
    margin-top: 0px;
    position: relative;
  }
  .coaching-content .img-wrap img {
    margin-bottom: 30px;
  }
  .coaching-content h2 {
    text-align: center;
  }
  .coaching-content p {
    text-align: center;
  }
  .coaching-content .button-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .coaching-content .button-wrap a {
    text-align: center;
  }
  .packages-rates .card {
    margin-bottom: 30px;
  }
  .section-coachinghero .hero-title.v2 {
    position: absolute;
    top: 100px;
    width: fit-content;
  }
  .bio-content-section .img-black-section img {
    width: 100%;
  }
  .bio-content-section .large-title {
    padding-top: 30px;
    text-align: center;
  }
  .section-coachinghero .hero-title.v3 {
    top: 10px;
    width: fit-content;
  }
  .post-section .post-list {
    padding: 35px 10px 15px 10px;
  }
  .post-section .releated-list {
    padding: 35px 10px 15px 10px;
    padding-top: 30px;
  }
}
