@charset "UTF-8";

body,
p,
span,
li,
a,
button,
input,
textarea {
  font-family: "Poppins";
}

.segoe-font {
  font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

:root {
  /* Primary Colors */
  --primary-background-color: #ffffff;
  --secondary-background-color: #000000;
  --primary-text-color: #0d184f;
  --secondary-text-color: #4a4a4a;
  --tertiary-text-color: #1c47aa;

  /* Accent Colors */
  --link-color: #1a73e8;
  --hover-color: #fbc02d;

  /* Borders and Highlights */
  --border-color: #e0e0e0;

  /* Font Sizes */
  --font-large: 26px;
  --font-medium: 16px;
  --font-small: 15px;
  --font-extra-small: 12px;
}

@media (min-width: 1200px) {
  .container {
    width: 1030px;
  }
}

.navbar.transparent {
  background-color: transparent !important;
}

.nav-link.white {
  color: #ffffff !important;
}

.navbar {
  padding: 20px;
  background-color: #ebeff8;
  border: none;
  margin: 0;
  z-index: 99;
  position: relative;
  min-height: 50px;
}
.navbar .navbar-brand img {
  width: 167px;
  height: auto;
}
.nav-link {
  font-size: 15px;
  text-transform: uppercase;
  color: #0d184f;
  font-weight: 600;
  padding: 0px;
}
.nav-link.active {
  color: #fbc02d !important;
  border-bottom: 2px solid #fbc02d;
}

/* section--hero */
.section-hero {
  position: relative;
}

.section-hero__banner-container img {
  width: 100%;
  height: auto;
  margin-top: -98px;
}
.section-hero__des {
  font-weight: 400;
  font-size: var(--font-medium);
  color: var(--primary-text-color);
  margin-bottom: 0px;
}
.section-hero__des.des-1 {
  position: absolute;
  top: 90px;
}
.section-hero__des.des-2 {
  position: absolute;
  top: 420px;
}
.section-hero__btn-full-bio {
  padding: 10px 15px;
  background-color: var(--hover-color);
  color: var(--primary-text-color) !important;
  font-weight: 600;
  text-decoration: none;
  position: absolute;
  top: 540px;
}
.section-hero__start-video {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  right: 50px;
  bottom: 50px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-text-color);
  text-decoration: none;
}
.section-hero__start-video img {
  width: 67px;
  height: 66px;
}
.section-hero__start-video p {
  margin-bottom: 0px;
}
/* section--films */

.section-films__film-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-films__film-container .img-1 img {
  width: 128px;
  height: 188px;
  cursor: pointer;
}

.section-films__film-container .img-2 img {
  width: 128px;
  height: 188px;
  cursor: pointer;
}

.section-films__film-container .img-3 img {
  width: 128px;
  height: 188px;
  cursor: pointer;
}

.section-films__film-container .img-1.active img {
  width: 155px;
  height: 233px;
  cursor: pointer;
}

.section-films__film-container .img-2.active img {
  width: 155px;
  height: 233px;
  cursor: pointer;
}

.section-films__film-container .img-3.active img {
  width: 155px;
  height: 233px;
  cursor: pointer;
}

.section-films__film-container .img-1.active {
  border: 3px solid #fbc02d;
  margin: 10px 15px;
}

.section-films__film-container .img-2.active {
  border: 3px solid #fbc02d;
  margin: 10px 15px;
}

.section-films__film-container .img-3.active {
  border: 3px solid #fbc02d;
  margin: 10px 15px;
}

.section-films__film-container .img-1 {
  margin: 10px 15px;
}

.section-films__film-container .img-2 {
  margin: 10px 15px;
}

.section-films__film-container .img-3 {
  margin: 10px 15px;
}

.section-films__title {
  font-size: var(--font-large);
  color: var(--tertiary-text-color);
  font-weight: 600;
  margin-bottom: 0px;
  padding: 60px 0 20px 0px;
}
.section-films__des {
  font-size: var(--font-small);
  color: var(--secondary-text-color);
  padding-bottom: 20px;
}
.section-films__film-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 40px;
}
.section-fims__right-section {
  background-color: #f7f7f7;
  padding: 110px 25px 40px 25px;
}
.section-films__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.section-films__slider-left img {
  width: 40px;
  cursor: pointer;
}
.section-films__slider-right img {
  width: 40px;
  cursor: pointer;
}

.section-films__sidebar-block {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.section-films__slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  min-height: 250px;
}

.section-films__slide {
  min-width: 100%;
  padding: 2px;
}

.section-films__side-bar-title {
  font-size: 20px;
  margin-bottom: 0px;
  padding-bottom: 16px;
  color: var(--primary-text-color);
  font-weight: 600;
}
.section-films__side-bar-des {
  font-size: 14px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.section-films__more-info-btn {
  padding: 10px 15px;
  background-color: var(--hover-color);
  color: var(--primary-text-color) !important;
  font-weight: 600;
  text-decoration: none;
}
/* section--more-info1 */

.section-moreinfo1 {
  padding: 75px 0 75px 0;
}
.section-moreinfo1__content-wrap {
  display: flex;
  flex-direction: column;
}
.section-moreinfo1__btn {
  width: fit-content;
}
.section-moreinfo1__content-wrap h3 {
  font-size: var(--font-large);
  color: var(--primary-background-color);
  padding-bottom: 26px;
}
.section-moreinfo1__content-wrap p {
  font-size: var(--font-small);
  color: var(--primary-background-color);
  padding-bottom: 8px;
}
/* section-moreinfo2 */
.section-moreinfo2 {
  padding: 75px 0 85px 0;
}
.section-moreinfo2 .row {
  align-items: center;
}
.section-moreinfo2__img-wrap img {
  width: 100%;
}
.section-moreinfo2__content-wrap h3 {
  font-size: var(--font-large);
  margin-bottom: 0px;
  padding-bottom: 30px;
  color: var(--tertiary-text-color);
  font-weight: 600;
}
.section-moreinfo2__content-wrap p {
  font-size: var(--font-small);
  margin-bottom: 0px;
  padding-bottom: 30px;
  color: var(--secondary-text-color);
}
/* section--testimonials */
.section-testimonials {
  padding: 70px 0px;
}
.section-testimonials__profile-side {
  display: block;
  float: left;
  width: 18%;
  padding: 0 25px;
  margin: 88px 0;
}
.section-testimonials__content-side {
  display: block;
  float: left;
  width: 82%;
  padding-left: 40px;
  border-left: 1px solid #979797;
}
.section-testimonials__profile-side span {
  display: block;
  height: 90px;
  width: 90px;
  margin: 15px auto;
}
.section-testimonials__up-coma {
  display: block;
  width: 43px;
  height: 35px;
}
.section-testimonials__content-side p {
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--secondary-text-color);
  font-size: var(--font-small);
  line-height: 1.6;
}
.section-testimonials__testi-client-details h4 {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.section-testimonials__testi-client-details p {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
}

/* section--coach */
.section-coach {
  padding: 50px 0 50px 0;
  background-color: #000000;
}

.section-coach__side-img {
  width: 100%;
}
.section-coach__title {
  font-size: var(--font-large);
  font-weight: 500;
  color: var(--primary-background-color);
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.section-coach__des-mini {
  color: var(--primary-background-color);
}

.section-coach__des {
  font-size: var(--font-small);
  margin-bottom: 0px;
  padding-bottom: 30px;
  padding-top: 20px;
  color: var(--primary-background-color);
}

.section-coach__second-row {
  padding: 75px 0px 40px 0px;
  display: flex;
  justify-content: center;
  position: relative;
}
.section-coach__profile-side {
  display: block;
  float: left;
  width: 18%;
  padding: 0 25px;
  margin: 88px 0;
}
.section-coach__content-side {
  display: block;
  float: left;
  width: 75%;
  overflow: hidden;
  position: relative;
}
.section-coach__up-coma {
  display: block;
  width: 43px;
  height: 35px;
}
.section-coach__middle-line {
  border-left: 1px solid #979797;
  width: 7%;
}
.section-coach__content-side p {
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--primary-background-color);
  font-size: var(--font-small);
  line-height: 1.6;
}
.section-coach__client-details h4 {
  color: var(--primary-background-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.section-coach__client-details p {
  color: var(--primary-background-color);
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
}
.section-coach__first-row {
  padding: 10px 0px 50px 0px;
}
.section-coach__testimonial-1 img {
  width: 86px;
  height: 86px;
  margin: 25px auto;
}
.section-coach__testimonial-2 img {
  width: 86px;
  height: 86px;
}
.section-coach__testimonial-1.active img {
  width: 90px;
  height: 90px;
  margin: 25px auto;
  border: 3px solid #fbc02d;
  border-radius: 50%;
}
.section-coach__testimonial-2.active img {
  width: 90px;
  height: 90px;
  border: 3px solid #fbc02d;
  border-radius: 50%;
}
.section-coach__controls {
  position: absolute;
  right: 20px;
  bottom: 85px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.section-coach__slide {
  opacity: 0;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  position: absolute;
  top: 10%;
}

.section-coach__slide.active {
  left: 0;
  transform: translateX(0);
  opacity: 1;
  position: absolute;
  top: 10%;
}

.section-coach__slide.exit-right {
  transform: translateX(100%);
  display: block;
}

.section-coach__controls .carousel-control-prev,
.section-coach__controls .carousel-control-next {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 38px;
  height: 38px;
  line-height: 1;
  font-weight: 700;
  color: #9e9e9e;
  margin: 0 10px;
  cursor: pointer;
  position: static !important;
}
/* section--form */
.section-form {
  display: flex;
}
.section-form__side {
  display: block;

  width: 50%;
  height: 775px;
}
.section-form__side-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-form__form-contact {
  background-color: #ebeff9;
  padding: 40px 220px 68px 80px;
  position: relative;
}
.section-form__form-contact h2 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: var(--primary-text-color);
  line-height: 1.2;
}
/* section--social-media */

.section-social-media h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  color: #0d184f;
}
.section-social-media {
  padding: 50px 0px;
  display: block;
}
.section-social-media .col-6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
/* section--footer */
.section-footer {
  display: block;
  background-color: var(--primary-text-color);
  color: #ffffff;
  padding: 30px 0 10px 0;
}
.section-footer__top {
  display: block;
  border-bottom: 2px solid #979797;
  padding-bottom: 10px;
}

.section-footer__media-wrap {
  display: flex;
  justify-content: end;
}
.section-footer__righ-top-container {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.widget_media_image {
  margin: 0 8px;
}
.widget_media_image:last-of-type {
  margin-right: 0;
}

.widget_media_image:first-of-type {
  margin-left: 0;
}
.section-footer__media-wrap small {
  margin-bottom: 10px;
  font-size: 12px;
}
.section-footer__logo-wrap {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}
.section-footer__mail {
  color: #ffffff;
  font-size: 12px;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}
.section-footer__navigation-ul {
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 10px 0;
}
.section-footer__navigation-ul li {
  display: inline-block;
  margin: 0 8px;
  font-size: 14px;
  line-height: 14px;
  color: #6d6d6d;
  list-style-position: outside;
}
.section-footer__navigation-ul li a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.section-footer__navigation-ul li a.active {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  color: #fbc02d !important;
  border-bottom: 2px solid #fbc02d;
}
/* section--banner */
.section-banner {
  width: 100%;
  position: relative;
}
.section-banner__img-wrap {
  margin-top: -60px;
}
.section-banner__img-wrap img {
  width: 100%;
}
.section-banner__text-wrap {
  position: absolute;
  top: 130px;
  width: fit-content;
}
.section-banner__text-wrap h1 {
  font-size: 72px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--tertiary-text-color);
}
/* section--tvshow */

.section-tvshow {
  padding-top: 70px;
  padding-bottom: 30px;
}
.section-tvshow__topcard {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.section-tvshow__topcard img {
  width: 100%;
}
.section-tvshow__topcard h4 {
  font-size: 18px;
  text-align: center;
  color: #606060;
  line-height: 1.2;
  margin: 25px 0px;
}
.section-tvshow__bottom-card {
  width: 28%;
  display: flex;
  flex-direction: column;
}
.section-tvshow__bottom-card h4 {
  font-size: 18px;
  text-align: center;
  color: #606060;
  line-height: 1.2;
  margin: 25px 0px;
}
.section-tvshow__bottom {
  margin: 40px 0px;
  gap: 30px;
}
.section-tvshow__bottom-card img {
  width: 100%;
}
/* section--biolink */

.section-biolink {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ebeff9;
  padding: 70px 0;
  margin: 40px 0;
  text-align: center;
  gap: 20px;
}

.section-biolink__yellowbtn {
  padding: 10px 15px;
  background-color: var(--hover-color);
  color: var(--primary-text-color) !important;
  font-weight: 600;
  text-decoration: none;
  width: fit-content;
}
.section-biolink__btn-wrap {
  width: fit-content;
}

/* section-carousel */
.section-carousel {
  position: relative;
}
.carousel-container {
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  overflow: visible;
}

.swiper-button-prev,
.swiper-button-next {
  color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  opacity: 0.5;
  left: -50px;
  background-image: url("http://johnlehr.flywheelsites.com/wp-content/uploads/arrow-left.png");
}

.swiper-button-next {
  opacity: 0.5;
  right: -50px;
  background-image: url("http://johnlehr.flywheelsites.com/wp-content/uploads/arrow-right.png");
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.8;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
}

.section-carousel-container {
  position: relative;
}
/* sup-herosection */
.sup-herosection img {
  width: 100%;
  height: 100vh;
}
.sup-herosection {
  margin-top: -110px;
}
/* suc-videosection */
.suc-videosection {
  padding: 30px 0px;
}
.suc-videosection__video iframe {
  display: none;
  width: 100%;
  height: 261px;
}

.video-overlay {
  position: relative;
}

.video-overlay .video-thumbnail {
  width: 100%;
  cursor: pointer;
}

.video-overlay.active iframe {
  display: block;
}

.video-overlay.active .video-thumbnail {
  display: none;
}

.suc-videosection__text p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: var(--primary-text-color);
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* suc-fullgraycontainer */
.suc-fullgraycontainer {
  background-color: #ebeff9;
  padding: 40px 0 40px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suc-fullgraycontainer h3 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--primary-text-color);
}

.suc-fullgraycontainer a {
  padding: 10px 15px;
  background-color: #fbc02d;
  color: #0d184f !important;
  font-weight: 600;
  text-decoration: none;
  margin-top: 10px;
}
/* suc-story */
.suc-story h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-text-color);
  padding-bottom: 10px;
}
.suc-story p {
  font-size: 16px;
  color: var(--primary-text-color);
  padding-bottom: 10px;
}
.suc-story .row {
  padding: 20px 200px;
}
.suc-story__img-wrap.first-row {
  margin-bottom: 20px;
}
.suc-story a {
  color: var(--tertiary-text-color);
  text-decoration: none;
}
.suc-story__img-wrap img {
  width: 100%;
}
